initial.sh
Pipfile
Pipfile.lock
settings.json
requirements-dev.txt
env/
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
*.pyc
*.pyo
.idea/
set_env_variables.py
__pycache__/